
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.venv/
.pytest_cache/  
vscode/
.DS_Store
.idea/
*.log
.env
.env.local
.env.*.local

